$primary: #ffff;

//Текст
$title-color: #000000;
$text-color-main: #0F0F0F;
$text-color-green: #337566;
$text-white-color: #F5F5F5;
$text-footer-color: #6B6B6B;

//Фоны
$header-background-color: #FFF7EB;
$header-container-background-color: #E8E8E8;
$footer-border: #DBDBDB;

